@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	@apply bg-primary-light dark:bg-primary-dark/40 text-white;
}

.prose {
	@apply w-full;
}

.prose strong {
	@apply font-medium;
}

.prose .anchor {
	@apply invisible absolute no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply dark:decoration-primary-dark decoration-[0.1em] underline-offset-2 transition-all;
}

.prose .anchor:after {
	@apply text-neutral-300 dark:text-neutral-700;
	content: '#';
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose code {
	@apply rounded-md shadow-sm border dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-200;
}

.prose img {
	@apply m-0;
}

.prose > :first-child {
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

code[class*='language-'],
pre[class*='language-'] {
	@apply text-neutral-50;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.prose .callout > p {
	margin: 0 !important;
}

[data-rehype-pretty-code-fragment] code {
	@apply border-none shadow-none
}

[data-rehype-pretty-code-fragment] [data-line] {
	@apply py-[1px];
}

[data-rehype-pretty-code-fragment] code {
	@apply bg-transparent;
}

[data-rehype-pretty-code-fragment] pre {
	@apply shadow-sm border;
}

[data-rehype-pretty-code-fragment] pre[data-theme='dark'] {
	@apply border dark:border-neutral-800 dark:bg-neutral-900 hidden dark:block;
}

[data-rehype-pretty-code-fragment] pre[data-theme='light'] {
	@apply  dark:hidden border-slate-100 bg-slate-50;
}

.math-display{
	@apply overflow-x-scroll m-0;
}
.math-inline {
	@apply inline-block m-0
}